<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          The Asian Games, also known as Asiad, is a continental multi-sport event held every four years among athletes from all over Asia. The Games were regulated by the Asian Games Federation (AGF) from the first Games in New Delhi, India, until the 1978 Games. Since the 1982 Games, they have been organized by the Olympic Council of Asia (OCA), after the breakup of the Asian Games Federation. The Games are recognized by the International Olympic Committee (IOC) and are described as the second largest multi-sport event after the Olympic Games.
        </p> 
      </div>
      <div class="col-lg-4">
        <p>
          India is a member of the South Asian Zone of the Olympic Council of Asia (OCA), and has participated in the Asian Games since their inception in 1951. The Indian Olympic Association, established in 1927, and recognised in the same year by the International Olympic Committee, is the National Olympic Committee for India.
        </p>
      </div>
    </div>
  </div>
</section>

